
<% provide(:title, 'Home') %>

<% if signed_in? %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">  
        <%= render 'layouts/project_form' %>
    </div>    
    <div class="col-md-8">
      <%= render 'layouts/feed' %>

    </div>
  </div>
</div> 
<%end %>      
<h3>Current Projects</h3>
<%= link_to 'Back', root_path %>
<%= render 'layouts/feed' %> 

