<% if @feed_items.count(:all) == 0 %>
<h4>No items were found</h4>
<% else %>
  <ol class="projects">
    <%= render partial: 'layouts/feed_item', collection: @feed_items %>
  </ol>
  <%= will_paginate @feed_items , renderer: BootstrapPagination::Rails%>
<% end %>